<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
</head>

<body>
    <section class="NavBar">
        <div class="logo">
            {% load static %}
            <img src="{% static 'C:\Lucifer-Drive\Programs\Django-programs\Treasure_Box\static\Treasure_Box\wrs.jpeg' %}" alt="My image">

        </div>
        <div class="search">

        </div>
    </section>
    <H1>Home-Page</H1>


</body>

</html>